<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white white-70 dn dib-ns pv2 ph3 no-underline" href="{{ .Site.Home.Permalink }}" >
    &copy; <footer class="pv4 ph3 ph5-ns tc" role="contentinfo">
  <div class="f6 dib ph2 pt2 font-monospace opacity-60">
    [ v.1.0.4-alpha ] [ Connection: Secure ] [ © NESPESHNYE 2026 ] [ <a href="/index.xml" style="color:inherit;text-decoration:none;">RSS: Feed</a> ]
  </div>
</footer>
  </a>
    <div>{{ partials.IncludeCached "social/follow.html" . }}</div>
  </div>
</footer>
